<!doctype html>
<html lang="en">

    <div class="inputItem">
        <label for="num1"> Number 1 </label>
        <input type="number" id="num1" name="num1" placeholder="10" required>
    </div>

    <div class="inputItem">
        <label for="num2"> Number 2 </label>
        <input type="number" id="num2" name="num2" placeholder="20" required>
    </div>

    <button id="inputSubmit" class="inputItemSubmit"> Submit </button>

    <!-- output for template page only (proper page empty and fill display container) -->

    <div class="akSpacerInputOutput">
        <p class="akTextCenter"> -------------------------------------  </p>
    </div>

    <div id="outputContainer" class="outputCont">
        <!-- fill with returned data  -->
        <p class="akTextCenter"> On input submit output data will be displayed here </p>
    </div>

</html>